---
layout: base
permalink: "/{{ page.fileSlug }}/"
---

<div class="content">
  <h1 class="title is-1">{{ title }}</h1>

  {{ content | safe }}
</div>

<div class="content">
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% for _p in collections.guide %}
      {% if _p.url == page.url %}
        {% set previous = collections.guide[loop.index0 - 1 ] %}

        {% if previous %}
          <a class="pagination-previous" href="{{ previous.url }}">Previous: {{ previous.data.title }}</a>
        {% else %}
          <a class="pagination-previous" href="/guide">Index</a>
        {% endif %}

        {% set next = collections.guide[loop.index0 + 1 ] %}

        {% if next %}
          <a class="pagination-next" href="{{ next.url }}">Next: {{ next.data.title }}</a>
        {% else %}
          <a class="pagination-next" href="/guide">Index</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</nav>
